.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 98vw;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  cursor: default;
  /* color: #333333; */
  border-color: #333333;
  box-shadow: 0 5px 0 0 #333333;
}

.card > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card h2 {
  /* margin: 0 0 1rem 0; */
  padding-right: 0.5rem;
  font-size: 1.5rem;
  display: inline-block;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.1;
}

.sticky {
  position: sticky;
  top: 50px;
  background: white;
  padding: 1.25rem 1.25rem 0 1.25rem;
  width: 300px;
}

@media (max-width: 600px) {
  .card {
    max-width: 250px;
    padding: 0.5rem;
    margin: 0.5rem;
  }
}
