/* search stuff should prolly move to its own place :/ */
.search_container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.search {
  font-size: 1.25rem;
  border: 1px solid lightsteelblue;
  border-width: 1px 6px 1.5rem 6px;
  border-radius: 6px;
  padding: 9px;
  width: 300px;
  background: white;
}

.search_container input {
  margin-bottom: -22px;
  margin-left: -4px;
}

.search_container label {
  display: inline-block;
  width: 300px;
  margin-top: 1rem;
  padding: 0 0.25rem 0.25rem 0.25rem;
  background: white;
  border-radius: 6px;
}

.search:focus {
  outline: none;
  border-color: black;
  border-top-color: black;
  border-left-color: black;
  border-right-color: black;
  border-bottom-width: 2px;
  border-right-width: 2px;
  margin-bottom: 0px;
}

.filters_btn {
  height: 30px;
  width: 30px;
  border: 1px solid lightsteelblue;
  border-width: 1px 2px 6px 2px;
  border-radius: 4px;
  margin-left: 0.5rem;
  background-color: white;
  font-size: 1rem;
  margin-left: -40px;
  position: absolute;
  top: 25px;
}
.filters_btn:hover {
  border-color: black;
}

.filters {
  width: 300px;
  position: absolute;
  top: 80px;
  border: 1px solid lightsteelblue;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: lightsteelblue;
  padding: 3px;
  text-align: center;
}

.search_container label.cat_label {
  border-radius: 0px;
  border: none;
  margin: 0px;
  background-color: lightsteelblue;
  text-align: right;
  width: 99%;
}

.filters > select {
  width: 98%;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  /* padding: 0.5rem; */
}

.filters .filter_reset {
  text-align: right;
  padding: 0.5rem;
}

/* grid stuff */
.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 98vw;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  max-width: 300px;
  word-break: break-word;
}

.card:hover,
.card:focus,
.card:active {
  cursor: default;
  border-color: #333333;
  --box-shadow-color: black;
  box-shadow: 0 5px 0 0 var(--box-shadow-color);
}

.card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2 {
  padding-right: 0.5rem;
  font-size: 2rem;
  display: inline-block;
  margin-block: 0.6rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.1;
}

.cat {
  position: sticky;
  top: 1rem;
  left: 1rem;
  background: white;
  padding: 1.25rem 1.25rem 0 1.25rem;
  width: 330px;
  border: solid 3px gray;
  border-radius: 9px;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  word-break: break-word;
}

.cat h2 {
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .search_container label {
    margin-top: 0.5rem;
  }
  .filters_btn {
    top: 17px;
  }
  .filters {
    top: 72px;
  }

  .cat {
    position: sticky;
    top: 84px;
    width: 100vw;
    margin: 1rem;
    padding: 0.25rem;
  }
  .cat h1,
  .cat h2 {
    margin-block: 0;
    font-size: 1rem;
    padding-bottom: 0;
  }
  .card {
    width: 100vw;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .card h2 {
    font-size: 1.25rem;
  }
  .card p {
    font-size: 1rem;
  }
}
